@import '../../variables';

.p-PageCalendar-header {
  position: relative;
  width: 90vw;
  max-width: $max-with;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > * {
    display: flex;
    align-items: center;
  }

  * + * {
    margin-top: 0;
  }

  > * > * + * {
    margin-left: 1em;
  }

  p {
    margin-bottom: 0;
  }

  img {
    cursor: pointer;
  }
}

.p-PageCalendar-calendar {
  display: none;
  position: absolute;
  top: 48px;
  right: 0;

  &.shown {
    display: block;
    transition: opacity 250ms ease;
    opacity: 1;
    visibility: visible;
  }

  &.hidden {
    display: block;
    transition: opacity 250ms ease, visibility 250ms;
    opacity: 0;
    visibility: hidden;
  }
}
