@import '../../variables';

.p-PageCalendar-header {
  position: relative;
  width: 90vw;
  max-width: $max-with;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > * {
    display: flex;
    align-items: center;
  }

  * + * {
    margin-top: 0;
  }

  > * > * + * {
    margin-left: 1em;
  }

  p {
    margin-bottom: 0;
  }

  img {
    cursor: pointer;
  }
}

.p-PageCalendar-calendar {
  display: none;
  position: absolute;
  top: 48px;
  right: 0;

  &.shown {
    display: block;
    transition: opacity 250ms ease;
    opacity: 1;
    visibility: visible;
  }

  &.hidden {
    display: block;
    transition: opacity 250ms ease, visibility 250ms;
    opacity: 0;
    visibility: hidden;
  }
}

.p-PageCalendar-main-table {
  width: 90vw;
  max-width: $max-with;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;

  th, td {
    padding-top: 0;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
}

.p-PageCalendar-main-table-cell {
  background-color: #ddd;
  vertical-align: top;
  cursor: pointer;
}

.p-PageCalendar-main-table-placeholder {
  cursor: pointer;

  &:hover {
    background-color: #afa;
  }
}
