// Easings!
$linear         : cubic-bezier(0.250,  0.250, 0.750, 0.750);
$ease           : cubic-bezier(0.250,  0.100, 0.250, 1.000);
$easeIn         : cubic-bezier(0.420,  0.000, 1.000, 1.000);
$easeOut        : cubic-bezier(0.000,  0.000, 0.580, 1.000);
$easeInOut      : cubic-bezier(0.420,  0.000, 0.580, 1.000);
$easeInQuad     : cubic-bezier(0.550,  0.085, 0.680, 0.530);
$easeInCubic    : cubic-bezier(0.550,  0.055, 0.675, 0.190);
$easeInQuart    : cubic-bezier(0.895,  0.030, 0.685, 0.220);
$easeInQuint    : cubic-bezier(0.755,  0.050, 0.855, 0.060);
$easeInSine     : cubic-bezier(0.470,  0.000, 0.745, 0.715);
$easeInExpo     : cubic-bezier(0.950,  0.050, 0.795, 0.035);
$easeInCirc     : cubic-bezier(0.600,  0.040, 0.980, 0.335);
$easeInBack     : cubic-bezier(0.600, -0.280, 0.735, 0.045);
$easeOutQuad    : cubic-bezier(0.250,  0.460, 0.450, 0.940);
$easeOutCubic   : cubic-bezier(0.215,  0.610, 0.355, 1.000);
$easeOutQuart   : cubic-bezier(0.165,  0.840, 0.440, 1.000);
$easeOutQuint   : cubic-bezier(0.230,  1.000, 0.320, 1.000);
$easeOutSine    : cubic-bezier(0.390,  0.575, 0.565, 1.000);
$easeOutExpo    : cubic-bezier(0.190,  1.000, 0.220, 1.000);
$easeOutCirc    : cubic-bezier(0.075,  0.820, 0.165, 1.000);
$easeOutBack    : cubic-bezier(0.175,  0.885, 0.320, 1.275);
$easeInOutQuad  : cubic-bezier(0.455,  0.030, 0.515, 0.955);
$easeInOutCubic : cubic-bezier(0.645,  0.045, 0.355, 1.000);
$easeInOutQuart : cubic-bezier(0.770,  0.000, 0.175, 1.000);
$easeInOutQuint : cubic-bezier(0.860,  0.000, 0.070, 1.000);
$easeInOutSine  : cubic-bezier(0.445,  0.050, 0.550, 0.950);
$easeInOutExpo  : cubic-bezier(1.000,  0.000, 0.000, 1.000);
$easeInOutCirc  : cubic-bezier(0.785,  0.135, 0.150, 0.860);
$easeInOutBack  : cubic-bezier(0.680, -0.550, 0.265, 1.550);

/**
 * It creates a media query based on `min-width`.
 * @param  {dimension} $min-width The `min-width` that should trigger the media query.
 */
@mixin media($min-width) {
  @media only screen and (min-width: #{$min-width}) {
    @content;
  }
}

/**
 * It creates a media query based on `min-resolution` and, optionally, `min-width`.
 * @param  {number}    $resolution The screen resolution that should trigger the media query. Use an absolute
 *                                 number, where 1 = 72dpi, 2 = 144dpi and so on.
 * @param  {dimension} $min-width  (Optional) the min-width that should trigger the media query. If not provided,
 *                                 only `$resolution` will be used.
 */
@mixin retina-media($resolution, $min-width: false) {
  $media-query: '';

  @if ($min-width) {
    $media-query: ' and (min-width: #{$min-width})';
  }

  @media only screen#{$media-query} and (min-device-pixel-ratio: #{$resolution}),
     only screen#{$media-query} and (min-resolution: #{72 * $resolution}dpi),
     only screen#{$media-query} and (min-resolution: #{$resolution}dppx) {
    @content;
  }
}

/**
 * Just `@include` it if you are on a Wordpress site. It ensures that properties from this very file don't affect
 * the Wordpress' admin bar.
 */
@mixin wordpress {
  #wpadminbar { margin-top: 0; }
  body > div:last-child { margin-top: 0; }
}

/**
 * It keeps an element below the Wordpress' admin bar.
 * @param  {property}  $property The property that needs to be edited to keep the element below the Wordpress' admin
 *                               bar. Usually `'top'` or `'margin-top'`.
 * @param  {dimension} $value    Optional. The current value for `$property`. It will be used `calc()` to increase
 *                               it. Defaults to 0px.
 */
@mixin below-wp-toolbar($property, $value: 0px) {
  .customize-support & {
    #{$property}: calc(#{$value} + 46px);

    @include media(783px) {
      #{$property}: calc(#{$value} + 32px);
    }
  }
}

/**
 * A simple flex grid.
 * @param  {dimension} $basis    The basis for the grid items. If `$even` is set to `false`, this is not used, as
 *                               it is implicit that the `grid-item` mixin will be called manually on the grid
 *                               children.
 * @param  {dimension} $h-gutter The horizontal distance between grid items.
 * @param  {dimension} $v-gutter (Optional) the vertical distance between grid items. It defaults to the same as
 *                               `$h-gutter`.
 * @param  {boolean}   $even     (Optional) whether or not the grid children have the same dimension. If so (the
 *                               default, the grid children will get the required properties to be arranged properly.
 *                               If `false`, you will have to `@include grid-item` manually on the grid children.
 */
@mixin grid($basis, $h-gutter, $v-gutter: $h-gutter, $even: true) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: $v-gutter/2 $h-gutter/2;

  & > * {
    flex-grow: 1;
    @if ($even) {
      @include grid-item($basis, $h-gutter, $v-gutter);
    }
  }
}

/**
 * A mixin for grid items, to be combined with the `grid` mixin.
 * @param  {dimension} $basis    The basis for the grid items.
 * @param  {dimension} $h-gutter The horizontal distance between this item and other grid items.
 * @param  {dimension} $v-gutter (Optional) the vertical distance between this item and the other grid items.
 *                               It defaults to the same as `$h-gutter`.
 */
@mixin grid-item($basis, $h-gutter, $v-gutter: $h-gutter) {
  flex-basis: $basis;
  margin: $v-gutter/2 $h-gutter/2;
}

@mixin smoothstep($property, $min, $bp-min, $max, $bp-max) {
  #{ $property }: get-smoothstep($min, $bp-min, $max, $bp-max);
  @include media($bp-max) { #{ $property }: $max; }
}

@function get-smoothstep($min, $bp-min, $max, $bp-max) {
  $offset: ($max - $min) / 1px;
  @return calc(#{ $min } + (100vw - #{ $bp-min }) / #{ ($bp-max - $bp-min) / 1px } * #{ $offset });
}
