@import './variables';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $line-height;

  * + * { margin-top: 1em; }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

form {
  width: 90vw;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

label {
  display: block;
  font-size: 12px;
  letter-spacing: 1px;
}

label span {
  display: block;
}

label span + * {
  margin-top: 0.5em;
}

input, select {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}
