@import '../variables';

.p-DeleteButton {
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $red;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  > * + * {
    margin-top: 0;
    margin-left: .5em;
  }
}
